[submodule "External/SubmoduleLib/rapidjson"]
	path = External/SubmoduleLib/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "External/SubmoduleLib/cppformat"]
	path = External/SubmoduleLib/cppformat
	url = https://github.com/cppformat/cppformat.git
[submodule "External/SubmoduleLib/scrypt"]
	path = External/SubmoduleLib/scrypt
	url = https://github.com/Tarsnap/scrypt.git
[submodule "External/SubmoduleLib/SQLiteCpp"]
	path = External/SubmoduleLib/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
