[submodule "External/SubmoduleLib/rapidjson"]
	path = External/SubmoduleLib/rapidjson
	url = https://github.com/HNO3/rapidjson.git
	branch = sg-rapidjson
[submodule "External/SubmoduleLib/cppformat"]
	path = External/SubmoduleLib/cppformat
	url = https://github.com/cppformat/cppformat.git
[submodule "External/SubmoduleLib/scrypt"]
	path = External/SubmoduleLib/scrypt
	url = https://github.com/Tarsnap/scrypt.git
[submodule "External/SubmoduleLib/SQLiteCpp"]
	path = External/SubmoduleLib/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "External/SubmoduleLib/spdlog"]
	path = External/SubmoduleLib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "External/SubmoduleLib/http-parser"]
	path = External/SubmoduleLib/http-parser
	url = https://github.com/nodejs/http-parser.git
