[submodule "External/SubmoduleLib/scrypt"]
	path = External/SubmoduleLib/scrypt
	url = https://github.com/Tarsnap/scrypt.git
[submodule "External/SubmoduleLib/SQLiteCpp"]
	path = External/SubmoduleLib/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "External/SubmoduleLib/spdlog"]
	path = External/SubmoduleLib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "External/SubmoduleLib/http-parser"]
	path = External/SubmoduleLib/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "External/SubmoduleLib/zlib"]
	path = External/SubmoduleLib/zlib
	url = https://github.com/madler/zlib.git
[submodule "External/SubmoduleLib/rapidjson"]
	path = External/SubmoduleLib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
